openapi: 3.2.0
info:
  title: User Management API V1 Event management API
  version: ''
  description: The host of all of the URLs defined in this documentation is `https://api.documentation.crossengage.io`.
servers:
- url: https://api.crossengage.io/
tags:
- name: Event Management
paths:
  /events:
    post:
      responses:
        '202':
          description: Accepted
          headers: {}
          content: {}
        '400':
          description: Wrong format of the request (see response)
          headers: {}
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  field:
                    type: string
                  type:
                    type: string
                example:
                  field: event
                  type: UNKNOWN_VALUE
              example:
                field: event
                type: UNKNOWN_VALUE
        '401':
          description: Wrong or missing credentials
          headers: {}
          content: {}
        '500':
          description: Unknown error on our side
          headers: {}
          content: {}
      summary: Send an event
      operationId: Send an event
      description: 'Events are individually assigned to users. You can send up to

        50 events per request. However, sending one single

        event per request is the most common practice.


        Please note that the **management of custom event property is not yet possible via API**.

        In order to create a custom properties, please contact your customer experience manager.'
      tags:
      - Event Management
      parameters:
      - name: X-XNG-ApiVersion
        in: header
        description: e.g. 1
        required: false
        x-example: '1'
        schema:
          type: string
      - name: X-XNG-AuthToken
        in: header
        description: e.g. Your API Key
        required: false
        x-example: Your API Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The id of the user in your database
                email:
                  type: string
                  description: '*Required* if `id` is not available'
                events:
                  type: object
                  properties:
                    event:
                      type: string
                      description: Name of the event class
                    properties:
                      type: object
                      properties:
                        stringExample:
                          type: string
                          description: An name example of a landing page name
                        integerExample:
                          type: number
                          description: A stock quantity example
                        floatExample:
                          type: number
                          description: A price example
                        ArrayExample:
                          type: array
                          description: A taggs array example
                        cart:
                          type: object
                          properties:
                            sku:
                              type: string
                              description: Product SKU
                            name:
                              type: string
                              description: Name of the product
                            price:
                              type: number
                              description: Product price
                          description: An example of a user cart object
                      description: 'List of event properties. For example:'
                  description: List of events for this user
              required:
              - id
              - events
              example:
                id: 78ad0e3e-19e6-4ec1-84a7-b2c860c05387
                events:
                - event: Completed Order
                  properties:
                    cart:
                      total: 0
                      currency: EUR
                      products:
                      - id: 507f1f77bcf86cd879439023
                        sku: '61979589'
                        name: Zegna Shirt
                        price: 150
                        quantity: 1
                        category: Shirts
                        hasZipper: false
                      - id: 507f1f77bcf86cd799439011
                        sku: '51979501'
                        name: Levi Jeans
                        price: 100
                        quantity: 1
                        category: Jeans
                        hasZipper: true
