openapi: 3.2.0
info:
  title: Statistics Detailed API
  version: ''
  description: The Statistics API is designed to help you synchronously access all story, campaign & message statistics performance data available in CrossEngage.
servers:
- url: https://api.crossengage.io/statistics
tags:
- name: Detailed
paths:
  /detailed:
    post:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                type: object
                properties:
                  interval:
                    type: object
                    properties:
                      startDate:
                        type: string
                        description: ISO 8601 formatted string representing the date and time for which statistics data will be computed from. Required when using the `interval` object.
                      endDate:
                        type: string
                        description: ISO 8601 formatted string representing the date and time for which statistics data will be computed to. Required when using the `interval` object.
                    required:
                    - startDate
                    - endDate
                    description: Please note that, for the detailed endpoint, according to the time interval you request in conjunction with the aggregation, our system will expand your requested interval to fit as many aggregations as possible. The response will return the actual interval for which data is returned for.
                  detailed:
                    type: array
                    description: Array containing the requested statistics data returned divided by aggregation time unit selected.
                    items: {}
                  overall:
                    type: array
                    description: Array of KPI totals for each _entity_ for the truncated time period. If interval is not present, statistics data will be returned for the selected _entity_ overall (from their first dispatch and until the present day).
                    items: {}
              example:
                interval:
                  startDate: '2018-08-24T00:00:00Z'
                  endDate: '2018-08-24T23:59:59Z'
                detailed:
                - entity:
                    id: '245'
                    channel: MAIL
                    type: CAMPAIGN_CHANNEL
                  startDate: '2018-08-24T00:00:00Z'
                  endDate: '2018-08-24T23:59:59Z'
                  kpi:
                    '23': '100.0'
                    '25': '80.0'
                    '31': NaN
                overall:
                - entity:
                    id: '245'
                    channel: MAIL
                    type: CAMPAIGN_CHANNEL
                  startDate: '2018-08-24T00:00:00Z'
                  endDate: '2018-08-24T23:59:59Z'
                  kpi:
                    '23': '100.0'
                    '25': '80.0'
                    '31': NaN
      summary: Get detailed statistics
      operationId: Get detailed statistics
      description: 'Use this endpoint to get statistics for certain entity IDs (story, campaign or message ID)

        on your account according to a variety of aggregation options.


        Please note that, according to the time interval you request in conjunction with the aggregation, our system will expand your requested interval to fit as many aggregations as possible. Please see the examples below:


        > Requesting an interval from `2018-08-24T00:00:00Z` to `2018-08-26T23:59:59Z` with a `MONTH` aggregation would return data from `2018-08-01T00:00:00Z` to `2018-08-31T23:59:59Z` (returning the entire month of August 2018).


        > Requesting an interval from `2018-08-24T00:00:00Z` to `2018-08-31T23:59:59Z` with a `WEEK` aggregation would return data from `2018-08-20T00:00:00Z` to `2018-09-02T23:59:59Z` (returning calendar Week 34 and 35 of 2018).'
      tags:
      - Detailed
      parameters:
      - name: X-XNG-ApiVersion
        in: header
        description: e.g. 2
        required: false
        x-example: '2'
        schema:
          type: string
      - name: X-XNG-AuthToken
        in: header
        description: e.g. YourAPIKey
        required: false
        x-example: YourAPIKey
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                entities:
                  type: array
                  description: Maximum 30 entities may be used for a single request.
                kpiIds:
                  type: array
                  description: The IDs of the KPIs that will be used to return statistics data for.
                interval:
                  type: object
                  properties:
                    startDate:
                      type: string
                      description: ISO 8601 formatted string representing the date and time for which statistics data will be computed from. Required when using the `interval` object.
                    endDate:
                      type: string
                      description: ISO 8601 formatted string representing the date and time for which statistics data will be computed to. Required when using the `interval` object.
                  required:
                  - startDate
                  - endDate
                  description: 'Please note that, according to the time interval you request in conjunction with the aggregation, our system will expand your requested interval to fit as many aggregations as possible. For example:


                    Requesting an interval from `2018-08-24T00:00:00Z` to `2018-08-24T23:59:59Z` with a `MONTH` aggregation would return data from `2018-08-01T00:00:00Z` to `2018-08-31T23:59:59Z` (the entire month of August).</li>

                    When _interval_ is not present, statistics data will be returned for the selected _entityIds_ overall (from their first dispatch and until the present day).'
                aggregation:
                  type: string
                  enum:
                  - HOUR
                  - DAY
                  - WEEK
                  - MONTH
                  - YEAR
                  description: The aggregation time units that will be returned from your selected interval. When a time unit is larger than the interval selected, no statistics data will be returned.
              required:
              - entities
              - interval
              - aggregation
              example:
                entities:
                - id: '245'
                  channel: MAIL
                  type: CAMPAIGN_CHANNEL
                kpiIds:
                - '1'
                - '12'
                interval:
                  startDate: '2019-09-01T00:00:00Z'
                  endDate: '2019-09-30T23:59:59Z'
                aggregation: WEEK
