openapi: 3.2.0
info:
  title: User Management API V1 Lead management API
  version: ''
  description: The host of all of the URLs defined in this documentation is `https://api.documentation.crossengage.io`.
servers:
- url: https://api.crossengage.io/
tags:
- name: Lead management
paths:
  /leads/:
    post:
      responses:
        '200':
          description: The lead was processed successfully
          headers: {}
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  updated:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        xngId:
                          type: string
                        success:
                          type: boolean
                  deleted:
                    type: array
                    items: {}
                example:
                  updated:
                  - id: '1234'
                    xngId: '1234'
                    success: true
                  deleted: []
              example:
                updated:
                - id: '1234'
                  xngId: '1234'
                  success: true
                deleted: []
        '400':
          description: Lead was not processed due to a validation error (see response)
          headers: {}
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  updated:
                    type: array
                    items:
                      type: object
                      properties:
                        xngId:
                          type: string
                        success:
                          type: boolean
                        errors:
                          type: array
                          items:
                            type: object
                            properties:
                              field:
                                type: string
                              type:
                                type: string
                  deleted:
                    type: array
                    items: {}
                example:
                  updated:
                  - xngId: xng-id
                    success: false
                    errors:
                    - field: email
                      type: WRONG_FORMAT
                  deleted: []
              example:
                updated:
                - xngId: xng-id
                  success: false
                  errors:
                  - field: email
                    type: WRONG_FORMAT
                deleted: []
        '401':
          description: Wrong or missing credentials
          headers: {}
          content: {}
        '500':
          description: Unknown error on our side
          headers: {}
          content: {}
      summary: Create & update a lead
      operationId: Create & update a lead
      description: 'This endpoint lets you create or update leads.

        The system searches for existing leads based on records with email

        addresses and optionally business units.

        In case a record with the requested identifiers exists, the lead is updated.

        Otherwise, a new lead will be created.'
      tags:
      - Lead management
      parameters:
      - name: X-XNG-ApiVersion
        in: header
        description: e.g. 1
        required: false
        x-example: '1'
        schema:
          type: string
      - name: X-XNG-AuthToken
        in: header
        description: e.g. Your API Key
        required: false
        x-example: Your API Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The lead's email
                businessUnit:
                  type: string
                  description: The business unit of the lead
                firstName:
                  type: string
                  description: The lead's first name
                lastName:
                  type: string
                  description: The lead's last name
                gender:
                  type: string
                  description: The lead's gender
                createdAt:
                  type: string
                  description: The date the user was created in your database
              required:
              - email
              example:
                updated:
                - id: '1234'
                  email: john.doe@crossengage.io
                  businessUnit: US
                  firstName: John
                  lastName: Doe
                  age: 21
                  gender: male
