openapi: 3.2.0
info:
  title: User Management API V1 Opt-out management API
  version: ''
  description: The host of all of the URLs defined in this documentation is `https://api.documentation.crossengage.io`.
servers:
- url: https://api.crossengage.io/
tags:
- name: Opt-Out Management
paths:
  /users/{id}/recipient-status:
    get:
      responses:
        '200':
          description: Example server response
          headers: {}
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  blacklisted:
                    type: boolean
                  optOutAll:
                    type: boolean
                  optOutChannels:
                    type: array
                    items: {}
                example:
                  blacklisted: false
                  optOutAll: false
                  optOutChannels: []
              example:
                blacklisted: false
                optOutAll: false
                optOutChannels: []
        '401':
          description: Wrong or missing credentials
          headers: {}
          content: {}
        '500':
          description: Unknown error on our side
          headers: {}
          content: {}
      summary: Get a user's status
      operationId: Get a user's status
      description: Check the overall status of a particular user.
      tags:
      - Opt-Out Management
      parameters:
      - name: id
        in: path
        description: The id of the user in your database
        required: true
        x-example: 78ad0e3e-19e6-4ec1-84a7-b2c860c05387
        schema:
          type: string
      - name: X-XNG-ApiVersion
        in: header
        description: e.g. 1
        required: false
        x-example: '1'
        schema:
          type: string
      - name: X-XNG-AuthToken
        in: header
        description: e.g. Your API Key
        required: false
        x-example: Your API Key
        schema:
          type: string
  /users/{id}/optout-status:
    put:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  optOut:
                    type: boolean
                example:
                  optOut: true
              example:
                optOut: true
        '401':
          description: Wrong or missing credentials
          headers: {}
          content: {}
        '404':
          description: This user does not exist
          headers: {}
          content: {}
        '500':
          description: Unknown error on our side
          headers: {}
          content: {}
      summary: Update a user's opt out status
      operationId: Update a user's opt out status
      description: Update a specific user's overall opt out status or for a specific channel.
      tags:
      - Opt-Out Management
      parameters:
      - name: id
        in: path
        description: The id of the user in your database
        required: true
        x-example: 78ad0e3e-19e6-4ec1-84a7-b2c860c05387
        schema:
          type: string
      - name: channelType
        in: query
        description: The specific channel you'd like to update
        required: false
        x-example: MAIL
        schema:
          type: string
      - name: X-XNG-ApiVersion
        in: header
        description: e.g. 1
        required: false
        x-example: '1'
        schema:
          type: string
      - name: X-XNG-AuthToken
        in: header
        description: e.g. Your API Key
        required: false
        x-example: Your API Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                optOut:
                  type: boolean
              example:
                optOut: true
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  optOut:
                    type: boolean
                example:
                  optOut: true
              example:
                optOut: true
        '401':
          description: Wrong or missing credentials
          headers: {}
          content: {}
        '404':
          description: This user does not exist
          headers: {}
          content: {}
        '500':
          description: Unknown error on our side
          headers: {}
          content: {}
      summary: Read a user's opt out status
      operationId: Read a user's opt out status
      description: Read a specific user's overall opt out status or for a specific channel.
      tags:
      - Opt-Out Management
      parameters:
      - name: id
        in: path
        description: The id of the user in your database
        required: true
        x-example: 78ad0e3e-19e6-4ec1-84a7-b2c860c05387
        schema:
          type: string
      - name: channelType
        in: query
        description: The specific channel you'd like to update
        required: false
        x-example: MAIL
        schema:
          type: string
      - name: X-XNG-ApiVersion
        in: header
        description: e.g. 1
        required: false
        x-example: '1'
        schema:
          type: string
      - name: X-XNG-AuthToken
        in: header
        description: e.g. Your API Key
        required: false
        x-example: Your API Key
        schema:
          type: string
  /users/{id}/blacklist-status:
    put:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  blacklisted:
                    type: boolean
                example:
                  blacklisted: true
              example:
                blacklisted: true
        '401':
          description: Wrong or missing credentials
          headers: {}
          content: {}
        '404':
          description: This user does not exist
          headers: {}
          content: {}
        '500':
          description: Unknown error on our side
          headers: {}
          content: {}
      summary: Update a user's blacklist status
      operationId: Update a user's blacklist status
      description: ''
      tags:
      - Opt-Out Management
      parameters:
      - name: id
        in: path
        description: The id of the user in your database
        required: true
        x-example: 78ad0e3e-19e6-4ec1-84a7-b2c860c05387
        schema:
          type: string
      - name: X-XNG-ApiVersion
        in: header
        description: e.g. 1
        required: false
        x-example: '1'
        schema:
          type: string
      - name: X-XNG-AuthToken
        in: header
        description: e.g. Your API Key
        required: false
        x-example: Your API Key
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blacklisted:
                  type: boolean
              example:
                blacklisted: true
    get:
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json;charset=UTF-8:
              schema:
                type: object
                properties:
                  blacklisted:
                    type: boolean
                example:
                  blacklisted: true
              example:
                blacklisted: true
        '401':
          description: Wrong or missing credentials
          headers: {}
          content: {}
        '404':
          description: This user does not exist
          headers: {}
          content: {}
        '500':
          description: Unknown error on our side
          headers: {}
          content: {}
      summary: Read a user's blacklist status
      operationId: Read a user's blacklist status
      description: ''
      tags:
      - Opt-Out Management
      parameters:
      - name: id
        in: path
        description: The id of the user in your database
        required: true
        x-example: 78ad0e3e-19e6-4ec1-84a7-b2c860c05387
        schema:
          type: string
      - name: X-XNG-ApiVersion
        in: header
        description: e.g. 1
        required: false
        x-example: '1'
        schema:
          type: string
      - name: X-XNG-AuthToken
        in: header
        description: e.g. Your API Key
        required: false
        x-example: Your API Key
        schema:
          type: string
